# Build artefacts
/bin
/build
/out
/target

# Eclipse project file
/.settings
/.classpath
/.project

# IntelliJ IDEA project files
/*.iml
/*.iws
/*.ipr
/.idea

# VS Code project files
/.vscode

# OS files
.DS_Store
$RECYCLE.BIN
[Dd]esktop.ini
Thumbs.db
*.lnk
