# Gradle build system
/.gradle

# Build artefacts
/bin
/build
/out
/target

# Eclipse project file
/.settings
/.classpath
/.project

# IntelliJ IDEA project files
/*.iml
/*.iws
/*.ipr
/.idea

# Theile project files
/.theia

# VS Code project files
/.vscode

# OS files
.DS_Store
$RECYCLE.BIN
[Dd]esktop.ini
Thumbs.db
*.lnk

# Default animation output
video.mp4

# Files copied at build time
/src/main/resources/CHANGELOG.md

# Install4J
/install/gpx-animator.install4j~
/install/install4j_images/
/install/media/
